body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 12px 64px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 12px;
}